%h1 Listing users
%table.table.table-striped
  %thead
    %tr
      %th #
      %th Role
      %th Email
      %th.date_ceil Last sign in
      %th.date_ceil Added at
      %th{:style => "width:180px;"} Options
  %tbody
    - @users.each do |user|
      %tr
        %td= user.id
        %td Tutaj Rola
        %td= user.email
        %td= user.last_sign_in_at.nil? ? "n/a" : user.last_sign_in_at
        %td= user.created_at
        %td
          %div.btn-group
            = link_to 'Edit', edit_admin_user_path(user), class: 'btn btn-success'

%br/

= link_to 'Add User', new_admin_user_path, :class => "btn btn-lg btn-primary"